@import 'https://fonts.googleapis.com/css?family=Open+Sans';

#chart-wrapper {
  display: inline-block;
  position: relative;
  align-self: center;
  max-width: 80% !important;
  max-height: 75% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin: 5% !important;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	background-color: #222;
	color: #fff;
}


p {
	font-size: 16px;
}

h1 {
  text-align: center;
	font-size: 30px;
	line-height: 34px;
  margin: 1%;
}

h2 {
  text-align: center;
	font-size: 20px;
	line-height: 25px;
  margin: 1%;
}

