@import 'https://fonts.googleapis.com/css?family=Open+Sans';

#chart-wrapper {
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
  max-height: 88%;
  min-height: 80%;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	background-color: #222;
	color: #fff;
}

p {
	font-size: 16px;
}

h1 {
  text-align: center;
	font-size: 30px;
	line-height: 34px;
  margin: 1%;
}

h2 {
  text-align: center;
	font-size: 20px;
	line-height: 25px;
  margin: 1%;
}

